[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/YeoKyuLi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/YeoKyuLi
	label-Verified = -1..+1 group user/YeoKyuLi
	push = group user/YeoKyuLi
	read = group user/YeoKyuLi
	rebase = group user/YeoKyuLi
	removeReviewer = group user/YeoKyuLi
	submit = group user/YeoKyuLi
[access "refs/heads/*"]
	create = group user/YeoKyuLi
	push = +force group user/YeoKyuLi
	pushMerge = group user/YeoKyuLi
	read = group user/YeoKyuLi
[access "refs/tags/*"]
	push = group user/YeoKyuLi
	push = +force group user/YeoKyuLi
